{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %} 

<h3> Anant Gupta </h3>

<br>
View my:

<p align="left"> 
    <a href="https://www.kaggle.com/anantgupt" target="_blank"> 
        <img src="https://www.kaggle.com/static/images/site-logo.png" alst=' ' width=70/> 
    </a> 
    <a href="https://www.linkedin.com/in/anant-gupta" target="_blank"> 
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linkedin/linkedin-original-wordmark.svg" alt="linkdein" width=70>
    </a> 
</p>
  
{% endblock body %}